.message {
  display: block;
  padding-left: 20px;

  ion-text {
    margin-left: 5px;
  }
}

.amount {
  text-align: right;

  .bd1 {
    display: inline-block;
    border: 1px solid #d0d0d0;
    padding: 2px;
    color: #d0d0d0;
  }

  ion-label {
    ion-text {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.refuse {
  --background: #fff;
  --background-activated: #fff;
  --background-focused: #fff;
  --background-hover: #fff;
  --color: #000;
  --border-color: #d9d9d9;
  --border-radius: 3px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-width: 1px;
    --border-style: solid;
}

.receive {
  --color: #fff;
  --background: #e6454a;
  --background-activated: #e6454a;
  --background-focused: #e6454a;
  --background-hover: #e6454a;
  --border-radius: 3px;
  --padding-start: 20px;
  --padding-end: 20px;
}

.hidden {
  display: none;
}

.buy {
  --color: #fff;
  --background: rgba(245, 79, 13, 0.767);
  --background-activated: rgba(245, 79, 13, 0.767);
  --background-focused: rgba(245, 79, 13, 0.767);
  --background-hover: rgba(245, 79, 13, 0.767);
}