<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="header">
      <ion-icon name="chevron-back-outline" (click)="handleBack()"></ion-icon>
      <ion-title>{{ category?.name }}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="modalType === 'list'">
    <ion-card *ngFor="let item of orders">
      <ion-item>
        <ion-label>服务名称:</ion-label>
        <ion-avatar *ngIf="serviceForm?.picUrl">
          <img [src]="serviceForm?.picUrl" />
        </ion-avatar>
        <ion-text>{{ item?.name }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>服务类型:</ion-label>
        <ion-text>{{ item?.keywords }}</ion-text>
      </ion-item>
      <!-- <ion-text class="message">
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ item?.detail }}</ion-text>
      </ion-text>
      <ion-text class="message">
        <ion-icon name="location-outline"></ion-icon>
        <ion-text>{{ item?.address }}</ion-text>
      </ion-text> -->
      <ion-text class="message amount">
        <ion-text class="bd1">直约预付金</ion-text>
        <ion-label>订单金额: <ion-text>{{ item?.retailPrice }}</ion-text>元</ion-label>
      </ion-text>
      <ion-item>
        <!-- <ion-button class="refuse" slot="end" (click)="handleOrder('refuse')">查看祥情</ion-button> -->
        <ion-button class="receive" slot="end" (click)="handleService(item)">查看祥情</ion-button>
      </ion-item>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="modalType === 'detail'">
    <ion-grid>
      <ion-row>
        <ion-col>服务类型: {{ order?.keywords }}</ion-col>
        <ion-col>价格: {{ order?.retailPrice }}元</ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <pre class="hidden" #content></pre>
</ion-content>

<ion-footer *ngIf="modalType === 'detail'">
  <ion-toolbar>
    <ion-button class="buy" expand="full" (click)="onSubmit()">立即购买</ion-button>
  </ion-toolbar>
</ion-footer>