<ion-content>
  <ion-card class="user-info">
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ userInfo.avatar }}">
        </ion-avatar>
        <ion-label>
          <ion-label>
            <ion-text>{{ userInfo.name }}</ion-text>
          </ion-label>
          <ion-label class="message">
            <ion-text>{{ userInfo.name }}</ion-text>
          </ion-label>
        </ion-label>
      </ion-item>

      <!--信息总览 -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>0</ion-text>
            <ion-text>卡券</ion-text>
          </ion-col>

          <ion-col>
            <ion-text>0</ion-text>
            <ion-text>收藏服务</ion-text>
          </ion-col>

          <ion-col>
            <ion-text>0</ion-text>
            <ion-text>收藏店铺</ion-text>
          </ion-col>

          <ion-col>
            <ion-text>0</ion-text>
            <ion-text>足迹</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card class="orders">
    <ion-item (click)="handleItem(orderStatus.all)">
      <ion-label>我的订单</ion-label>
      <ion-text class="right-allow">查看全部<ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col (click)="handleItem(orderStatus.unpaid)">
          <ion-text><ion-icon name="time-outline"></ion-icon></ion-text>
          <ion-text>未接单</ion-text>
        </ion-col>

        <ion-col (click)="handleItem(orderStatus.unserved)">
          <ion-text><ion-icon name="card-outline"></ion-icon></ion-text>
          <ion-text>待服务</ion-text>
        </ion-col>

        <ion-col (click)="handleItem(orderStatus.serving)">
          <ion-text><ion-icon name="card-outline"></ion-icon></ion-text>
          <ion-text>服务中</ion-text>
        </ion-col>

        <ion-col (click)="handleItem(orderStatus.userCompleted)">
          <ion-text><ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon></ion-text>
          <ion-text>已完成</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="features">
    <ion-item (click)="handleItem()">
      <ion-label>购券订单</ion-label>
      <ion-text class="right-allow"><ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>

    <ion-item (click)="handleItem()">
      <ion-label>我的需求</ion-label>
      <ion-text class="right-allow">找保姆<ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>

    <ion-item (click)="handleItem()">
      <ion-label>我的关注</ion-label>
      <ion-text class="right-allow">保姆/月嫂/育儿嫂<ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>
  </ion-card>

  <ion-card class="features">
    <ion-item (click)="handleItem('address')">
      <ion-label>我的地址</ion-label>
      <ion-text class="right-allow"><ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>

    <ion-item (click)="handleItem()">
      <ion-label>我的店铺</ion-label>
      <ion-text class="right-allow"><ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>

    <ion-item (click)="handleItem()">
      <ion-label>入驻发布</ion-label>
      <ion-text class="right-allow"><ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>

    <ion-item (click)="handleItem()">
      <ion-label>帮助中心</ion-label>
      <ion-text class="right-allow"><ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
    </ion-item>
  </ion-card>

  <ion-card class="features">
    <ion-button expand="full" (click)="signOut()">退出登录</ion-button>
  </ion-card>
</ion-content>