ion-item {
  --inner-border-width: 0;
  --padding-left: 0;
  --padding-end: 0;
  --padding-start: 0;
}

ion-list {
  background: transparent;

  ion-item {
    --background: transparent;
  }

  .active {
    --background: #fff;
  }
}

ion-grid.content {
  --ion-grid-padding: 5px 5px 5px 0;
  height: 100%;

  ion-row {
    height: 100%;
  }
}

.item-native {
  padding-left: 0;
}

ion-searchbar {
  padding-bottom: 0;
}

.project-menu {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 0;

  ion-label {
    padding-left: 5px;
  }
}

.services-classification, .services-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.services-classification::before, .services-classification::after {
  content: "";
  width: 20px;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  margin: 0 5px;
}

.popular-services {
  width: calc(20vw - 20px);
  height: calc(20vw - 20px);
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}