.item-no-border {
  --inner-border-width: 0;
}

ion-button {
  --background: #e6454a;
  --background-activated: #e6454a;
  --background-focused: #e6454a;
  --background-hover: #e6454a;
  margin: 25px 10px 0;
}

.mt15 {
  margin-top: 15px;
}