#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.nav-toolbal {
  --background: #fff;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-top: 0;

  ion-buttons {
    width: 25%;
    justify-content: center;

    ion-button {
      --color: #000;
    }
  }

  ion-buttons.active {
    ion-button {
      --color: rgb(237, 88, 7);
    }
    // border-bottom: 1px solid rgb(237, 88, 7);
  }
}

.message {
  display: block;
  padding-left: 20px;

  ion-text {
    margin-left: 5px;
  }
}

.amount {
  text-align: right;

  .bd1 {
    display: inline-block;
    border: 1px solid #d0d0d0;
    padding: 2px;
    color: #d0d0d0;
  }

  ion-label {
    ion-text {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.refuse {
  --background: #fff;
  --background-activated: #fff;
  --background-focused: #fff;
  --background-hover: #fff;
  --color: #000;
  --border-color: #d9d9d9;
  --border-radius: 3px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-width: 1px;
    --border-style: solid;
}

.receive {
  --color: #fff;
  --background: #e6454a;
  --background-activated: #e6454a;
  --background-focused: #e6454a;
  --background-hover: #e6454a;
  --border-radius: 3px;
  --padding-start: 20px;
  --padding-end: 20px;
}