<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="header">
      <!-- <ion-label>{{ address }}</ion-label> -->
      <ion-button (click)="location()">{{ address }}</ion-button>
      <ion-searchbar></ion-searchbar>
      <!-- <ion-icon *ngIf="outline; else addOutline" name="close-outline" (click)="handleOutline(false)"></ion-icon>
      <ng-template #addOutline>
        <ion-icon name="add-outline" (click)="handleOutline(true)"></ion-icon>
      </ng-template> -->
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let servicesSlide of popularServices">
      <ion-grid>
        <ion-row>
          <ion-col size="2" *ngFor="let item of servicesSlide" (click)="handleService(item)">
            <ion-avatar class="popular-services services-cleaning">
              <img [src]="item?.iconUrl" />
            </ion-avatar>
            <ion-label class="services-title">{{ item?.name }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
