ion-item {
  --inner-border-width: 0;
  --padding-left: 0;
}

ion-button {
  --background: transparent;
  --color: #fff;
  --box-shadow: none;
}

ion-button:focus {
  outline-color: transparent;
}

ion-searchbar {
  padding-bottom: 0;
}

ion-grid {
  background-color: #F1F2F6;
}

.popular-services {
  width: calc(20vw - 20px);
  height: calc(20vw - 20px);
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}

.services-title {
  display: block;
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

ion-col {
  --ion-grid-columns: 10;
}