ion-header {
  ion-item {
    --inner-border-width: 0;
    --padding-start: 0;
  }
}

ion-content {
  --background: rgba(0, 0, 0, .07);
}

.more {
  --inner-border-width: 0;
  font-size: 12px;
  --padding-start: 0;

  ion-label {
    padding-left: 20px;
  }
}

.desc {
  font-size: 12px;
}