.tip {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
}

.pw-tip {
  display: block;
  margin: 10px 20px;
  font-size: 12px;
}

.mt10 {
  margin-top: 10px;
}

.item-no-border {
  --inner-border-width: 0;
}

ion-button {
  --background: #e6454a;
  --background-activated: #e6454a;
  --background-focused: #e6454a;
  --background-hover: #e6454a;
  margin: 25px 10px 0;
}